.container {
    height: 80vh;
    overflow-y: auto;
    width: 50%;
}

.container ul {
    list-style: none;
    width: 100%;
    display: inline-block;
}

ul.chat li.message {
    border: solid #DCDCDC 0.5rem;
    border-radius: 1rem;
    background-color: #F8F8FF;
    margin: 1rem 0 1rem 0;
    width: max-content;
    font-size: 1.5rem;
    padding: 1rem;
}

ul.chat li.uMessage {
    border: solid #016801 0.5rem;
    border-radius: 1rem;
    margin: 1rem 0 1rem auto;
    background-color: #008000;
    color: #F8F8FF;
    padding: 1rem;
    width: max-content;
}


ul.chat li.red {
    border: solid #960303 0.5rem;
    background-color: #cf8a8a;
}
ul.chat li.yellow{
    border: solid #969303 0.5rem;
    background-color: #cecf8a;
}
ul.chat li.green{
    border: solid #03960a 0.5rem;
    background-color: #8ccf8a;
}
ul.chat li.blue{
    border: solid #031296 0.5rem;
    background-color: #8a94cf;
}
ul.chat li.purple{
    border: solid #740396 0.5rem;
    background-color: #bf8acf;
}
ul.chat li.orange{
    border: solid #966303 0.5rem;
    background-color: #cfb18a;
}

.input {
    width: 30%;
    margin: 0 auto 0 auto;
    border-radius: 1rem;
    padding: 0.5rem;
}

.input textarea {
    border: solid #000000 0.5rem;
    width: 75%;
}

.displayname {
    font-size: 1.5em;
}