<!DOCTYPE html>
<html>
<head>
    <% include ../includes/header.ejs %>
</head>

<body>
    <% include ../includes/nav.ejs %>
    <form action = "./display" method = "POST">
        First Name: <input type="text" name="firstName"><br>
        Last  Name: <input type="text" name="lastName"><br>
        Age       : <input type="number" name="age"><br>
        <button type="submit">Send it!</button>
    </form>
</body>
</html>