<!DOCTYPE html>
<html>
<head>
    <% include ../includes/header.ejs %>
</head>

<body>
    <% include ../includes/nav.ejs %>
    Hello <%= firstName %> <%= lastName %> <br>
    <%= message %>
</body>
</html>