<!DOCTYPE html>
<html>

<head>
    <% include ../../includes/header.ejs %>
</head>

<body>
    <div class="container">
        <h1>Pokemons</h1>
        <div class="row"></div>
            <div class="center-block">
                <a href="" class="btn btn-success" id="btnFirst"> &lt;&lt; </a>

                <a href="" class="btn btn-primary" id="btnPrev"> Prev </a>

                <a href="" class="btn btn-primary" id="btnNext"> Next </a>

                <a href="" class="btn btn-success" id="btnLast"> &gt;&gt; </a>
            </div>
    </div>
    <script src="scripts/prove09.js"></script>
</body>

</html>