<!DOCTYPE html>
<html>

<head>
    <% include ../../includes/header.ejs %>
</head>

<body>
    <div class="container">
        <h1>JSon list</h1>
        <p>
            <h3>To add</h3>
            Write the new name and press enter to add
        </p>
        <p>
            <h3>To delete</h3>
            Click on any of the names
        </p>
        <input type="text" id="newName" placeholder="New Advenger">

        <div class="row"></div>
    </div>
    <script src="scripts/prove10.js"></script>
</body>

</html>