<!DOCTYPE html>
<html>
<head>
    <% include ../../includes/header.ejs %>
</head>

<body>
    <% include ../../includes/nav.ejs %>
    <div class="container">
        <h2>Book sumary list</h2>
        <form action = "./prove02/display" method = "POST" >
            <div class="form-group">
                <lable for="title">Title</lable>
                <input type="text" name="title" id="title" class="form-control">
                <lable for="title">Author</lable>
                <input type="text" name="author" id="author" class="form-control">
                <lable for="title">Year</lable>
                <input type="number" name="year" id="year" class="form-control">
            </div>
            <div class="form-group">
                <lable for="title">Sumary</lable>
                <textarea name="sumary" id="sumary" class="form-control"></textarea> 
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
        <div class="col-md-9">
            <%if (bookList.length > 0){%>
                <h3>Books Saved</h3>
                <%for (book of bookList) {%>
                    <div class="bg-info">
                        <h4>
                            <%= book.title %><br>
                            <small>Written by <%= book.author %> and published in <%= book.year %></small>
                        </h4>
                        <%= book.sumary %>
                    </div>
                <%}
            }%>
        </div>
    </div>
</body>
</html>